body {
    font-family: sans-serif;
    margin-top: 75px;
    margin-left: 50px;
    margin-right: 50px;
}

.center h1 {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{
  		margin-left : 10px;
  		margin-right : 50px;
  }

