body {
    font-family: sans-serif;
    margin-top: 75px;
    margin-left: 50px;
    margin-right: 50px;
    background : #856923;
}

#heading{
    text-align: left;
    font-size:200%;
    font-weight: bold;
}
.center {
    text-align: center;
}

.right{
    text-align: right;
}
.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{
  		margin-left : 10px;
  		margin-right : 50px;
  }

